<h1>Existing applications</h1>
<% if @screen_apps %>
	<% @screen_apps.each do |screen_app| %>
  	<li><b><%= screen_app.name %></b> <%= link_to 'Edit', edit_screen_app_path(screen_app) %></li>
	<% end %>
<% end %>