%h2 Submit a new app

- if @screen_app.errors.any?
  %div{ :id => "error_explanation" }
    %h2= pluralize(@screen_app.errors.count, "error") 
    -prohibited this app from being saved:
    %p There were problems with the following fields:
    %ul
      - @screen_app.errors.full_messages.each do |msg|
        %li= msg

= render :partial => "screen_apps/form"