html, body, canvas {
	margin: 0;
	padding: 0;
	background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, p, ul, li {
	color: #DD5F18;
	font-family: Tahoma;
	font-size 11px;
	margin: 0 auto 20px;
	width: 400px;
}

h2 {
	color: #FBA922;
}

p {
	color: #2D3032;
	margin-bottom: 40px;
}

.label {position: absolute; z-index: 10; right: 0; top: 0; border: none;}
